<%- include('../partials/header') %>

<section style="max-width: 800px; margin: 40px auto 60px;">
  <h1 style="font-size: 32px; font-weight: 800; margin-bottom: 25px;">DMCA Copyright Policy</h1>
  
  <div class="seo-rich-block" style="padding: 0;">
    <p>YTMP3 respects the intellectual property rights of others. In accordance with the Digital Millennium Copyright Act ("DMCA"), we respond promptly to claims of copyright infringement committed using our service.</p>
    
    <h3>Takedown Notice Requirements</h3>
    <p>If you are a copyright owner or authorized agent, and believe that any content converted or served on YTMP3 infringes upon your copyright, you may submit a written notice containing the following details to our designated copyright agent:</p>
    <ol>
      <li>A physical or electronic signature of the copyright owner or agent.</li>
      <li>Identification of the copyrighted work claimed to have been infringed.</li>
      <li>Identification of the infringing material on our site (specifically the song page URL).</li>
      <li>Contact information, including email address and telephone number.</li>
      <li>A statement that you have a good faith belief that the use is unauthorized.</li>
      <li>A statement, under penalty of perjury, that the information in the notification is accurate.</li>
    </ol>
    <p>Please send all copyright notices to: <strong>dmca@ytomp3.cc</strong></p>
  </div>
</section>

<%- include('../partials/footer') %>
